<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon/apple-touch-icon.png?v=gAdJjl2Mvd">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png?v=gAdJjl2Mvd">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png?v=gAdJjl2Mvd">
<link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon/site.webmanifest?v=gAdJjl2Mvd">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/images/favicon/safari-pinned-tab.svg?v=gAdJjl2Mvd" color="#d55b5b">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon/favicon.ico?v=gAdJjl2Mvd">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicon/mstile-144x144.png?v=gAdJjl2Mvd">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/images/favicon/browserconfig.xml?v=gAdJjl2Mvd">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
